<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="slidingtiles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="slidingtiles.GameLaunchCentreActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="slidingtiles.GameActivity" />
        <activity android:name="slidingtiles.SignInActivity" />
        <activity android:name="slidingtiles.SignUpActivity" />
        <activity android:name="slidingtiles.StartingActivity" />
        <activity android:name="slidingtiles.ScoreboardActivity" />
        <activity android:name="slidingtiles.GameChoiceActivity" />
    </application>

</manifest>
