<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gamecentre.slidingtiles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="gamecentre.GameLaunchCentreActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="gamecentre.slidingtiles.GameActivity" />
        <activity android:name="gamecentre.SignInActivity" />
        <activity android:name="gamecentre.SignUpActivity" />
        <activity android:name="gamecentre.slidingtiles.SlidingtilesStartingActivity" />
        <activity android:name="gamecentre.slidingtiles.SlidingtilesScoreboardActivity" />
        <activity android:name="gamecentre.GameChoiceActivity" />
        <activity android:name="gamecentre.battlegame.BattleScoreboardActivity" />
        <activity android:name="gamecentre.cardmatching.MatchingStartingActivity" />
        <activity android:name="gamecentre.cardmatching.MatchingGameActivity" />
        <activity android:name="gamecentre.cardmatching.MatchingScoreBoardActivity" />
        <activity android:name="gamecentre.battlegame.BattleStartingActivity" />
        <activity android:name="gamecentre.battlegame.BattleGameActivity" />
        <activity android:name="gamecentre.battlegame.CatOrDogActivity" />
        <activity android:name="gamecentre.battlegame.DogChoiceActivity" />
        <activity android:name="gamecentre.battlegame.CatChoiceActivity" />
    </application>

</manifest>
